{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
  <div class="col-8">
      <div class="my-font post-detail">
          <div><h3 class="my-font">{{post.title}}</h3></div>
          <div class="update-delete-buttons">
              {% if post.author == user %}
                <a class="my-font2 btn btn-secondary btn-sm mt-1 ml-2 mb-1" href="{% url 'blog:post-update' post.id %}">Update</a>
                <a class="my-font2 btn btn-danger btn-sm ml-1 mt-1 mb-1" href="{% url 'blog:post-delete' post.id %}">Delete</a>
              {% endif %}
          </div>      
      </div>
         <span class="my-font2" style="font-size:18px;">{{post.body}}</span> 
      <br>
      <hr>
    
      {% with comments.count as total_comments %}
        <h4 class="my-font">
          {{ total_comments }} comment{{ total_comments|pluralize }}
        </h4>
      {% endwith %}
    
      {% for comment in comments %}
        <div class="comment">
          <span style="font-size: 18px;">{{ comment.body}}</span>
          <br>
          <span style="opacity: 0.6;">
            <small>
              {{ comment.author.username }}
              {{ comment.created }}
          </small>
          </span>
        </div>
      {% empty %}
          <p>There are no comments yet.</p>
      {% endfor %}
        <br>
      <form action="." method="POST">
        {% csrf_token %}
        {{ comment_form|crispy }}  
        <p><button class="btn-update my-font">Comment</button class="my-font"></p>
      </form>

      <div id="like-section">
        {% include 'blog/like_section.html' %}
      </div>
      
  </div>


  <div class="col-4">

        <h4 class="my-font" style='font-weight: 700; color: rgb(90, 90, 90);'>Similar Posts -</h4>
        <div class="border-for-similar">
        {% for post in similar_posts %}
          <div class="similar-posts-box">
            <div class="similar-posts-title">
              <strong>
                <a class="my-link-title my-font" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
              </strong>
            </div>
            <div class="tags">
                {% for tag in post.tags.all %}
                  <a class="my-link-tag my-font badge badge-info" href="{% url 'blog:post-list-by-tag' tag.slug %}">
                    {{ tag.name }}
                  </a>
                <!-- {% if not forloop.last %}, {% endif %} -->
                {% endfor %}
            </div>
            <div class="my-font2">{{post.body|truncatewords:12}}</div>
          </div>
        {% empty %}
          There are no similar posts yet.
        {% endfor %}
        </div>
      
       
  </div>
</div>

 {% endblock %}