{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="post-create-form">

    <h3 id="create-heading" >Add a post</h3>  
    <form method="POST">
        {% csrf_token %}
        <div class="post-create-form-fields">
            <p>{{form.title}}</p>
            <p>{{form.body}}</p>
            <p>{{form.book_name}}</p>
            <p>{{form.author_name}}</p>
            <p>{{form.tags}}</p>
        </div>
            <button class="post-create-button float-right" type="submit">POST</button>
    </form>
</div>

{% endblock %}