{% extends "blog/base.html" %}

{% block title %}
  {{user.username}}'s - news feeds
{% endblock %}


{% block content %}
  <div class="row">
      <div class="col-8">      
          <div class="search-create">
              <div class="img-user"><img class="img-circle" src="{{ user.profile.image.url }}"></div>
              <div class="search-box"> 
                <form action="{% url 'blog:post-by-search' %}" method="get">
                    <input class="search-box" name="q" type="text" placeholder="Search...">
                </form>
              </div>
              <div class="create-button"> <a href="{% url 'blog:post-create' %}">
                <button class="btn-add float-right">
                  <i class="fa fa-plus" style="font-size: 20px; color:#0084bf"></i> Add Post
                </button></a>
              </div>
          </div>
      
          {% if tag %}
            <h4 class="my-font ">Posts tagged with <span class="badge badge-info">{{ tag.name }}</span></h4>
          {% endif %}
      
          <div class="infinite-container">
            {% for post in posts %}
            <div class="post-box infinite-item">
                <div class="content-section">
                  <div class="img-section"><a href="{% url 'blog:user-posts' post.author.username %}"><img class="img-circle" src="{{ post.author.profile.image.url }}"></a></div>
                  <div class="title-author">
                    <div class="author-publish">
                      <div > <a class="author-only-link" href="{% url 'blog:user-posts' post.author.username %}">@{{post.author}}</a></div>
                      <div class="publish-only">{{post.publish|date:"b d, Y P"}}</div>
                    </div>
                    <div class="only-title"> <a class="only-title-link" href="{% url 'blog:post-detail' post.id %}">{{post.title}}</a></div>
                    
                    <div class="tags">
                      {% for tag in post.tags.all %}
                        <a class="my-link-tag badge badge-info" href="{% url 'blog:post-list-by-tag' tag.slug %}">
                          {{ tag.name }}
                        </a>
                      <!-- {% if not forloop.last %}, {% endif %} -->
                      {% endfor %}
                    </div>
                    
                  </div>
                </div>
      
                <div class="content-body">
                    {{post.body|safe|linebreaks|truncatechars:420}} 
                      {% if post.body|length >= 420 %} 
                        <a class="only-body-link" href="{% url 'blog:post-detail' post.id %}">
                          <span id="read-more">read more</span> 
                        </a>
                      {% endif %}
                  <div><strong>Book:</strong> {{ post.book_name }}</div>
                  <div><strong>Author:</strong> {{ post.author_name }}</div>
                </div>
      
                <div id="comment-like">
                  <a class="comment-like-link" href="{% url 'blog:post-detail' post.id %}">
                    <i class="fa fa-heart-o" style="font-size:20px;color:rgb(221, 90, 90)"></i>
                    <span style="font-size: 18px; color: black; font-family: 'Barlow', sans-serif;" >{{ post.likes.count }} like{{ post.likes.count|pluralize }}</span> 
                    <i class="fa fa-comment-o" style="font-size:23px;color:rgb(19, 146, 29)"></i>
                    <span style="font-size: 18px; color: black; font-family: 'Barlow', sans-serif;">{{ post.post_comments.count }} comment{{ post.post_comments.count|pluralize }}</span> 
                    <i class="fa fa-caret-right" style="font-size:20px;color:#0c6690;"></i>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
      
          {% include "blog/pagination.html" with page=posts %}    
      </div>


      <div class="col-4">
        <h3>Popular Tags</h3>
        <h3>Popular People</h3>
      </div>
  </div>
{% endblock %}
