{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="login-form">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Log In</legend>
                <p>{{ form.username }}</p>  
                <p>{{ form.password }}</p>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
            <div><a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a></div>
        </form>
        <div>
            Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </div>
    </div>
{% endblock content %}
